@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al chatroom de Frailin Ogando</h1>
    <p>Conozca mas, <a href="https://docs.microsoft.com/aspnet/core">Construyendo una aplicacion Web con ASP.NET Core</a>.</p>
</div>
